.nav.navbar-nav {
	margin-top: 15px;
	font-size: 20px;
}
	.nav.navbar-nav > li > a {
		color: #6EB081;
	}
	.nav.navbar-nav > li > a:hover {
		color: #3D47BF;
	}

.middle_container {
	padding-top:69px;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 500px;
	width: calc(100% - 400px);
	margin: auto;
	border: 2px solid #C9B9B9;
	box-shadow: inset 0px 0px 38px rgba(27, 100, 217, 0.43),0px 5px 90px rgba(0, 0, 0, 0.53);
}

.cocktail_resume {
	width: 19%;
	margin: 3%;
	display:inline-block;
	text-align: center;
	border-bottom: 3px solid #5CCF9B;
	border-radius: 15px/8px;
	line-height: 2.4;
}
	.cocktail_resume > img {
		max-width:100%;
		display:block;
		margin:auto;
	}


body {
	font-family: Amaranth, Verdana, serif;
	min-width:1080px;
	background: url("../Graphics/bg-body.png") no-repeat center fixed;
}
body.index {
	font-family: Amaranth, Verdana, serif;
	min-width:1080px;
	background: url("../Graphics/index_background.png") no-repeat center fixed;
	background-size: 100%;
}
.welcome {
	margin: auto;
	display: block;
	margin-top: 30px;
}

.sheet {
	box-shadow: 6px 6px 15px #272943;
	border-radius:8px;
	padding: 18px;
	margin: 20 0 50 0px;
	background-color: #eee;
}
.box {
	position:absolute;
	width:100%;
	top: 0;
}
.box > div {
	z-index:1079;
	margin: 10px 1%;
	position:relative;
	padding: 5px 10px 7px 15px;
	border: 2px solid;
	border-radius: 7px;
	top: 1%;
	width: 98%;
}

.box > .alert {
	background-color: rgba(242, 222, 222, 0.8);
	color: #a94442;
	border-color: #ebccd1;
}
.box > .success {
	background-color: rgba(203, 230, 196, 0.8);
	color: #277E2E;
	border-color: #277E2E;
}