.nav.navbar-nav {
	margin-top: 15px;
	font-size: 20px;
}
	.nav.navbar-nav > li > a {
		color: #6EB081;
	}
	.nav.navbar-nav > li > a:hover, .nav.navbar-nav > .open > a {
		color: #3D47BF !important;
	}
.nav-pills > li:not(:first-child) {
	border-left:3px solid;
}
.nav-pills > li {
	text-align:center;
	padding: 15px;
	vertical-align: middle;
	font-size: 16px;
}
	

.middle_container {
	padding-top:69px;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 500px;
	width: calc(100% - 400px);
	margin: auto;
	border: 2px solid #C9B9B9;
	box-shadow: inset 0px 0px 38px rgba(27, 100, 217, 0.43),0px 5px 90px rgba(0, 0, 0, 0.53);
	margin-bottom:60px;
	border-radius: 5px;
}

.test {
	display:table-cell;
	width:1px;
}

/* HOME */
.cocktail_resume {
	width: 19%;
	margin: 3%;
	display:inline-block;
	text-align: center;
	border-radius: 15px/8px;
	line-height: 2.4;
}
	.cocktail_resume img {
		max-width:100%;
		display:block;
		margin:auto;
		max-width: 90%;
		max-height: 90%;
	}
	.cocktail_resume .flip > div {
		width: 100%;
	}
	.cocktail_resume .flip > div.favorite {
		border-bottom: 4px solid #E6E338;
		background: rgba(212, 207, 122, 0.19);
	}
	.cocktail_resume .flip > div {
		border-bottom: 4px solid #5CCF9B;
		background: rgba(113, 222, 100, 0.19);
	}
		.cocktail_resume .flip > div > div {
			height: calc(100% - 40px);
			display: flex;
		}
		.cocktail_resume .flip > div > h5 {
			height:25px;
		}
		.star {
			margin-top: 10px !important;
			right: 6px;
			margin-left: -20px !important;
			width: 40px;
		}
	.cocktail_resume .flip > div:last-child {
		width: 100%;
		border-bottom: 3px solid #3D47BF;
		background: rgba(61, 71, 191, 0.19);
		transform: rotateX(180deg) rotateZ(180deg);
		color: #E03939;
	}
		.cocktail_resume .flip > div:last-child > * {
			width: 100%;
		}
		.cocktail_resume .flip > div:last-child > h4 {
			text-decoration: underline;
			color:#3D47BF;
		}
		.cocktail_resume .flip > div:last-child li {
			list-style-image : url("../Graphics/losange.png");
			text-align: left;
			font-size: 16px;
			line-height: 2;
		}
		.cocktail_resume .flip > div:last-child > a {
			position: absolute;
			bottom: 0;
			display: block;
			white-space: nowrap;
			left: 0;
		}

/* COCKTAILS */
.cocktail > div:first-child {
	width: 100%;
}
	.cocktail > img {
		border-bottom: 4px solid #BC8D8D;
		border-right: 4px solid #BC8D8D;
		border-bottom-right-radius: 20px;
		margin: -60px 10px 10px -2px;
		float:left;
		height: 300px;
	}
	.cocktail > div {
		margin: 60px 0px;
		text-align: center;
		float: center;
	}
	.cocktail > span {
		position: absolute;
		right:	210px;
		margin-top: -50px;
		font-size: 16px;
		border: 4px solid rgba(0, 0, 0, 0.28);
		padding: 2px 5px;
		border-radius: 5px;
		cursor: pointer;
	}
	.cocktail h2 > span {
		background: linear-gradient(rgba(21, 159, 59, 0.7),rgba(69, 201, 96, 0.66));
		color: #110BAA;
		padding: 5px 20px;
		border-radius: 20px 5px 20px 5px;
	}
.cocktail > p {
	text-indent: 60px;
	font-size: 18px;
	width: 100%;
	padding: 20px 50px;
	text-align: justify;
	color: #0F0681;
}
	
body {
	font-family: Amaranth, Verdana, serif;
	min-width:1080px;
	background: url("../Graphics/bg-body.png") no-repeat center fixed;
}
body.index {
	font-family: Amaranth, Verdana, serif;
	min-width:1080px;
	background: url("../Graphics/index_background.png") no-repeat center fixed;
	background-size: 100%;
}
.welcome {
	margin: auto;
	display: block;
	margin-top: 30px;
}

.sheet {
	box-shadow: 6px 6px 15px #272943;
	border-radius:8px;
	padding: 18px;
	margin: 20 0 50 0px;
	background-color: #eee;
}
.box {
	position:absolute;
	width:100%;
	top: 0;
}
.box > div {
	z-index:1079;
	margin: 10px 1%;
	position:relative;
	padding: 5px 10px 7px 15px;
	border: 2px solid;
	border-radius: 7px;
	top: 1%;
	width: 98%;
}

.box > .alert {
	background-color: rgba(242, 222, 222, 0.8);
	color: #a94442;
	border-color: #ebccd1;
}
.box > .success {
	background-color: rgba(203, 230, 196, 0.8);
	color: #277E2E;
	border-color: #277E2E;
}

.good {
	color: #1A7C26;
}
.middle_message {
	text-align: center;
	font-size: 30px;
	padding-top: 180px;
}